#galeri{
    /* background-color: #333; */
    text-decoration: underline #FDC11F;
    text-decoration-thickness: 0.17em;
    color: #FDC11F;
}

.s1{
    background-color: #434242;
    justify-content: center;
    display: flex;
}

.isi01{
    color: white;
    align-items: center;
    max-width: 800px;
    width: 100%;
}

.i01{
    border-bottom: 0.1em solid #3d3d3d;
    text-align: center;
}

.i01 > h1{
    padding: 0em;
    margin: 0.5em;
}

.i01 > div{
    display: flex;
    justify-content: center;
    margin: 0.5em;
}

.i01 > div > h5{
    margin: 0em;
    width: 60%;
    text-align: center;
}

.i02{
    display: flex;
    justify-content: center;
    padding: 0.2em;
}

.i02 > div > button{
    cursor: pointer;
    border: 0em;
    background-color: transparent;
    margin-left: 1em;
    margin-right: 1em;
}

.i02 > div > button > h4{
    color: white;
    margin: 0.5em;
}


#gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.14em;
    padding: 0.5em;
}

#gallery img{
    cursor: pointer;
    object-fit: cover;
    border-radius: 0.14em;
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
    image-rendering: optimizeSpeed;
}

#gallery video{
    cursor: pointer;
    object-fit: cover;
    border-radius: 0.1em;
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
    image-rendering: optimizeSpeed;
}


#imageOverlay{
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0em;
}

#imageOverlay2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83%;
    height: 83%;
    max-width: 700px;
    max-height: 700px;
}

#imageClick{
    background-color: #434242;
    border-radius: 0.2em;
    border-top: 0.3em solid #F3EFE0;
    border-left: 0.3em solid #F3EFE0;
    border-right: 0.3em solid #F3EFE0;
    border-bottom: 4em solid #F3EFE0;
    width: max-content;
    height: max-content;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    image-rendering: optimizeQuality;
}

#fotoVideoButtonDiv{
    display: flex;
    align-items: center;
}

#fotoButton{
    color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
}

#videoButton{
    color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
}