#acara{
    /* background-color: #333; */
    text-decoration: underline #FDC11F;
    text-decoration-thickness: 0.2em;
    color: #FDC11F;
}

.s1{
    background-color: #434242;
    justify-content: center;
    display: flex;
}

.isi01{
    color: white;
    align-items: center;
    max-width: 800px;
    width: 100%;
}

.i01{
    text-align: center;
}

.s2{
    background-color: #F3EFE0;
    justify-content: center;
    display: flex;
}

.hari-1{
    display: flex;
    color: black;
    margin: 0.6em;
}

.hari-1 > div > img{
    width: 17em;
    margin-right: 0.6em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    border: 0.47em solid #fff;
}

.hari-2{
    justify-content: right;
    color: white;
    display: flex;
    margin: 0.6em;
}

.hari-2 > div > img{
    width: 17em;
    margin-left: 0.6em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    border: 0.47em solid #fff;
}