#acara{
    /* background-color: #333; */
    text-decoration: underline #FDC11F;
    text-decoration-thickness: 0.17em;
    color: #FDC11F;
}

.s1{
    background-color: #434242;
    justify-content: center;
    display: flex;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.isi01{
    padding-left: 0.6em;
    padding-right: 0.6em;
    color: white;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.grid-item {
    color: #222222;
	background-color: #F3EFE0;
    border-radius: 0.4em;
    filter: drop-shadow(0.6em 0.6em 0.04em black);
}

.grid-item > div > div{
    padding-top: 0.3em;
    align-items: center;
    display: flex;
}

.grid-item img {
    border-radius: 0.3em;
	max-width: 100%;
}

.grid-item h4{
    margin: 0.5em;
    margin-bottom: 0.1em;
    font-size: 90%;
}

.grid-item > .date{
    display: flex;
    padding: 0em;
    margin: 0em;
    margin-left: 0.6em;
    font-size: 70%;
}

@media only screen and (max-width: 700px) {

    .isi01{
        grid-template-columns: repeat(2, 1fr);
    }

}